/*审核列表*/
.m-has-db>b, .m-time-down>span{ display: inline-block;vertical-align: top;}
.m-has-db, .m-time-down{ position: relative; }
.m-time-down>span, .m-has-db>span{position: absolute;display: inline-block;width: 1rem; top:-5px;}
.m-has-db{margin-right: 0.5rem;}
.m-has-db>span>b{color: #20a0ff;border-radius: 7px;font-size:0.2rem;padding:0 5px;font-weight: bold;}
.m-has-db>span>i{ padding-left: 3px; }
.m-has-db>a{cursor: pointer;}
.m-time-down{}
.m-time-down>span{font-size: 0.2rem;letter-spacing: 1px;font-weight: bold; }
.m-foot-btn{ position: absolute;bottom: 3px;right: 5px;text-align: center;}
.m-foot-btn>a{padding:10px 15px; letter-spacing: 1px;}
.m-foot-btn>.f-btn-success{margin-right: 0.2rem;}

.m-refresh{ width:1rem;height: 1rem;position: absolute;top: 50%;left: 50%;margin-left: -0.5rem;margin-top: -0.5rem; }
.m-refresh>span,.m-refresh>a{position: absolute;width: 100%;height: 100%; display: block;}
.m-refresh>span{z-index: 1;}
.u-icon-refresh{background-image:url(../../images/refresh.png);}
.m-refresh>a{color:#20a0ff;font-weight: bold;font-size: 0.15rem;z-index: 2; cursor: pointer;line-height: 1rem;text-align: center;}

/*响应式*/
@media screen and (min-width: 341px) and (max-width: 450px){
  .m-menu-div, .m-menu-div>a>div, .m-menu-div>a>p{width:1.2rem; height:1.2rem; font-size: 0.13rem;}
  .m-menu-div>a>p{line-height:1.2rem;}
  .m-menu-div>a>div{line-height:1.7rem}
  .navInfoDiv{margin-top:0.1rem; font-size: 0.12rem;}
  .m-menu-div{margin:7%;}
  .u-bg>div{ background-size: 0.5rem; }
}

@media screen and (max-width: 640px){
  .g-audit-menu{padding:5px;}
  .m-foot-btn{position:fixed;bottom: 0;right: 0.1rem;z-index: 998;}
  .m-foot-btn>a{padding: 0;width: 0.4rem;height: 0.4rem;line-height: 0.41rem;border-radius: 50%; display: block;font-size: 0.13rem;margin-bottom: 0.2rem;}
}

@media screen and (max-width: 350px){
  .m-menu-div, .m-menu-div>a>div, .m-menu-div>a>p{width:1rem; height:1rem; font-size: 0.12rem;}
  .m-menu-div>a>p{line-height:1rem;}
  .m-menu-div>a>div{line-height:1.02rem}
  .u-bg>div{background-image: none}
  .navInfoDiv{margin-top:0.1rem; font-size: 0.12rem;}
  .m-menu-div{margin:7%;}
}