#details{padding: 0.15rem;}
.g-list-box, #details, .g-list-table, .g-inner-table{width: 100%; height: 100%;}
/* .g-list-box, .g-lis-head{position: absolute;} */
.g-box{padding-top: 0.6rem;width: 100%;height: 100%;}
.g-lis-head{position: absolute;background-color: #fff;width: 100%;padding:0.12rem 0.1rem;box-shadow: 0 0 10px rgba(0,0,0,0.1);border-radius: 4px;}
.g-lis-head>div{ display: inline-block;vertical-align: top;}
.m-details-back{display: inline-block;width: 0.2rem;height: 0.2rem;cursor: pointer;vertical-align: middle;}

.m-footD-btn{ position: absolute;bottom: 9px;right: 30px;text-align: center;}
.m-footD-btn>a{padding:7px 15px; letter-spacing: 1px;border-radius: 7px;}
.m-footD-btn>.f-btn-warning{margin-right: 0.15rem;}

.g-list-table, .g-inner-table{border-collapse: collapse;table-layout: fixed;word-wrap:break-word;word-break: break-word;white-space: normal;}
.g-list-table{background-color: #fff;}
.g-list-table>tbody>tr>td{border:1px solid #dfe6ec;}

.g-inner-table>thead>tr{border-bottom:1px solid #dfe6ec;}
.g-inner-table>thead>tr>th{ padding: 0.1rem 0;}
.g-inner-table>tbody>tr{border-bottom:1px solid #dfe6ec; }
.g-inner-table>tbody>tr:nth-child(even){background-color: #fafafa;}
.g-inner-table>tbody>tr>td:first-child{width:1.1rem;text-align:right;color:#666;}
.g-inner-table>tbody>tr>td:last-child{padding-left: 0.1rem;}
.m-box-img{ position: relative;}
.m-box-img>img{ display: block;margin:auto;border-radius: 7px;}
.m-meida-640up{display: table-cell;}
.m-meida-640up>img{width: 70%;}
.m-meida-640down{display: none;}

.details.m-l{margin-left: 5px;font-size: 12px;}
@media screen and (max-width: 640px){
  #details{padding: 0.1rem;}
  .m-meida-640up{display: none;}
  .m-meida-640down{display: table-cell;}
  .m-meida-640down>img{width:100%;}
  .g-inner-table>tbody>tr>td{padding:5px 0;}
  .m-footD-btn{ position: absolute;bottom: 8px;right: 20px;text-align: center;}
  .m-footD-btn>a{padding: 8px 7px;font-size: 0.12rem;}
}