@font-face{
  font-family:'gotham';
  src:url('../../fonts/gotham/Gotham-Medium.otf');
  src:url('../../fonts/gotham/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/gotham/Gotham-Medium.woff2') format('woff2'),
    url('../../fonts/gotham/Gotham-Medium.woff') format('woff'),
    url('../../fonts/gotham/Gotham-Medium.ttf') format('truetype'),
    url('../../fonts/gotham/Gotham-Medium.svg#webfont') format('svg');  

  font-weight:normal;
  font-style:normal;
  font-display: swap;
}
.f-fst-gotham{
  font-family:'gotham';
  color: #4b3887;
  font-size: 0.27rem;
  letter-spacing: 1px;
}


.dashboard-box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color:#F1F2F3;
}
.dashboard-box-inner, .map-box-inner>.render{
  position:relative;
  height:100%;
}
.map-box-out {
  height: 100%;
  position: absolute;
}
.map-box {
  display: flex;
  width: 100%;
  height: 50%;
  position: relative;
}
.map-box-inner {
  flex: 0.85;
  position:relative;
}
.map-box-inner>.render{

}
.map-box-inner>.inner-total{
  position: absolute;
  top:-7px;
  right: 10%;
}

@media screen and (min-width: 1600px){
  .map-box-inner {
    flex: 0.92;
  }
}
.switch{
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -0.3rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
  border-radius: 100%;
  z-index: 8;
  background-color: #fff;
  cursor: pointer;
  transition: all .05s ease-out;
  user-select: none;
}
.switch:active {
    transform: scale(.8);
}

.m-create-legend{
  position: absolute;
  top: 5px;
  left: 1.2rem;
}
.m-create-legend>.item{
  display: inline-block;
  margin-right: 0.1rem;
  cursor: pointer;
}
.m-create-legend>.item>.sty{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 0.25rem;
  height: 0.15rem;
}
.m-create-legend>.item>.sty>.circle{
  position: absolute;
  left: 7px;
  top: 0;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #fff;
  border:1px solid transparent;
  border-color:#ddd;
  z-index: 88;
}
.m-create-legend>.item>.sty>.line{
  content: '';
  position: absolute;
  z-index: 87;
  left: 0;
  top: 5px;
  display: inline-block;
  width: 0.25rem;
  border-top: 1px solid transparent;
  border-color:#ddd;
}
.m-create-legend>.item>.text{
  color:#999;
}
.m-create-legend>.active .line, .m-create-legend>.active .circle{
  border-color:#4b3887 !important;
}
.m-create-legend>.active>.text{
  color:#212121;
}



/*公告区域*/
.notice{
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
  z-index:2;
  width: 20%;
}
.notice>header{
  text-align: center;
  color: #545C62;
  font-size:18px;
  height: 40px;
  line-height: 40px;
  position: relative;
}
.notice>header{
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}
.noticediv{
  
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom:15px;
}

.m-notice-ul{
  
}
.m-notice-ul>li{
  margin:0.15rem 0.1rem;
  animation-name: noticeLi;
  animation-duration: .5s;
  animation-fill-mode: both
}
@keyframes noticeLi{
  0% {
        transform:translate3d(-200px, 0, 0);
        animation-timing-function: cubic-bezier(0.175, .885, .32, 1);
    }
    100% {
        transform:translate3d(0px, 0, 0);
        animation-timing-function: cubic-bezier(0.175, .885, .32, 1);
    }
}
.m-notice-ul>li>.msg-type, .m-notice-ul>li>.msg-type>span{
  width: 0.3rem;
  height: 0.3rem;
  
}
.m-notice-ul>li>.msg-type{
  margin-top:5px;
}
.m-notice-ul>li>.msg-type>span{
  display: inline-block;
  border-radius: 100%;
}
.m-notice-ul>li>.msg-content{
  margin-left: 0.4rem;
  
}
.m-notice-ul>li>.msg-content>time{
  font-size: 0.12rem;
 
}
.m-notice-ul>li>.msg-content>.content{
  margin-top:5px;
  background-color: #F6F8FA;
  border-radius:0.2rem;
  padding:0.1rem 0.15rem;
}

/* 切换效果 */
.hidescale {
  -webkit-transform: translateX(100%);
  -moz-transform:  translateX(100%);
  -o-transform:  translateX(100%);
  -ms-transform:  translateX(100%);
  transform:  translateX(100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  filter: alpha(opacity=0);
  opacity: 0;
}

.showscale {
  -webkit-transform:  translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;

  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  -o-transition-delay: .3s;
  -ms-transition-delay: .3s;
  transition-delay: .3s;
}

.make_transist {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  left:20%;
  padding-top: 0.1rem;
  width:80%;
}
.u-icon-chongzhi{
  background-image: url(../../images/icon_chongzhi.png);
}
.u-icon-jili{
  background-image: url(../../images/icon_jili.png);
}
.u-icon-kaika{
  background-image: url(../../images/icon_kaika.png);
}
.u-icon-jifen{
  background-image: url(../../images/icon_jifen.png);
}
.u-icon-icon_yewu{
  background-image: url(../../images/icon_yewu.png);
}
.u-icon-liuliang{
  background-image: url(../../images/icon_liuliang.png)
}
.u-icon-zhuce{
  background-image: url(../../images/icon_zhuce.png)
}
.u-icon-jihuo{
  background-image: url(../../images/icon_jihuo.png)
}
.u-icon-huafei{
  background-image: url(../../images/icon_huafei.png)
}
.u-icon-bulu{
  background-image: url(../../images/icon_bulu.png)
}
.u-icon-guohu{
    background-image: url(../../images/icon_guohu.png)
}
.u-icon-buhuanka{
    background-image: url(../../images/icon_buhuanka2.png)
}
.u-icon-chengka{
    background-image: url(../../images/icon_chengka.png);
}
.u-icon-baika{
    background-image: url(../../images/icon_baika.png);
}
.u-icon-shiftEchart{
  background-image: url(../../images/echarts-shift.png);
  background-size: 0.25rem;
}

.statistics{
  position: absolute;
  right: 0.1rem;
  bottom: 0.5rem;
  text-align: right;
  z-index:7;
}
.statistics>.col>b{
  /*margin-bottom: 0.1rem;*/
  display: inline-block;
}
/*@media screen and (min-width:1600px){
  .statistics{
    top: 1.3rem;
    text-align: center;
  }
  .statistics>.col{
    display: inline-block;
  }
}*/
.statistics>.col>div{
  font-size: 0.15rem;
}
.statistics>.col>div>span{
  font-size: 0.13rem;
}
@media screen and (min-width: 1200px){
  .statistics>.col>div{
    font-size: 0.17rem;
  }
  .statistics>.col>div>span{
    font-size: 0.13rem;
  }
}
@media screen and (max-width: 1199px){
  .second-total{
    top: auto !important;
    right: auto !important;
    bottom: 0.1rem;
    left: 0.2rem;
  }
}
@media screen and (min-width: 961px) and (max-width: 1199px){
  .f-fst-gotham{
    font-size: 0.24rem;
  }
  
}
@media screen and (max-width: 960px){
  .f-fst-gotham{
    font-size: 0.18rem;
  }
  .notice{
    display: none;
  }
  .make_transist{
    width: 100%;
    left:0;
  }
  .map-box-inner{
    flex: 1;
  }
  .switch{
    left: 20px;
    background-color:#fff;
  }
  .statistics{
    bottom: 0;
  }
  .statistics>.col>div, .statistics>.col{
    display: inline;
  }
}
@media screen and (max-width: 540px){
  .f-fst-gotham, .statistics>.col>div{
    font-size: 0.1rem;
  }
  .media-540{
    display: none;
  }
}
