.g-download-box{padding: 0.15rem;}
.g-download-tab{border-bottom:1px solid #ddd;border-color:#dee5e7;}
.g-download-tab>li{float: left;position: relative;margin-bottom:-1px;}
.g-download-tab>li>a{display:block;padding:10px 20px;cursor: pointer;border:1px solid transparent;border-bottom-color:#dee5e7;border-radius: 2px 2px 0 0;}
.g-download-tab>li.active{}
.g-download-tab>li.active>a{background-color:#fff;border-radius: 2px 2px 0 0;border:1px solid #ddd;border-bottom-color:#fff;}

.g-tabcontent{background-color:#fff;border:1px solid #dee5e7;border-top: none; border-radius:0 0 2px 2px;padding: 0.2rem;}
.m-create-button{
	border-radius: 7px;text-align: center;font-size: 14px;width: auto;
-webkit-appearance: none;-moz-appearance: none;appearance: none;
background-color: #fff;background-image: none;border: 1px solid #bfcbd9;color: #1f2d3d;
font-size: inherit;
font-family: inherit;
height: 0.35rem;line-height: 1;
outline: none;
padding: 3px 10px;
width: 100%;cursor: pointer;
transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
-webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
-moz-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);}

/*.m-form-input>.col-r>input{outline: none;border-color: #20a0ff}*/
.m-create-button{margin-top:0.2rem;}
.m-create-button:hover{border-color: #20a0ff;color:#20a0ff;}

.m-form-input{margin-bottom: 0.2rem;}
.m-form-input>.col-l{width: 0.65rem;text-align: right;line-height: 0.35rem;}
.m-form-input>.col-r>input{cursor: auto;text-align: left;}
.m-form-input>.col-r{margin-left: 0.69rem;}

@media screen and (max-width: 640px){
	.g-download-tab>li>a{
		padding: 5px 10px;
		font-size: 0.12rem;
	}
}