.login-box form .form-controll>.input-outter>input[type="text"], form .form-controll>.input-outter>input[type="tel"], form .form-controll>.input-outter>input[type="password"]{ -webkit-appearance: none;-moz-appearance: none;appearance: none;
    background-color: #fff;background-image: none;border-radius: 3px;border: 1px solid transparent;border-color:#bfcbd9;color: #1f2d3d;
    display: block;font-size: inherit;
    height: 0.4rem !important;line-height: 1;
    outline: none;
    padding: 3px 10px;
    width: 100%;outline: none;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);-webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);-moz-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
}
.login-box .login-bg div.loginForm{width:100%;height:96%;background-size: contain;background-repeat: no-repeat;}
.login-box form div.loginInput{width: 320px;margin-right:80px;margin-top: 80px; }
.login-box form .form-controll input::-webkit-input-placeholder { color: #97a8be}
.login-box form .form-controll input::-moz-placeholder {color: #97a8be}
.login-box form .form-controll input:-ms-input-placeholder {color: #97a8be}
.login-box form .form-controll input::placeholder {color: #97a8be}
.login-box form .form-controll input:hover{border-color: #8391a5}
.login-box form .form-controll input:focus{border-color: #20a0ff !important}
.btn{display: block; width: 92%; margin:auto; margin-top: 0.3rem; border-radius: 3px; text-align: center; color: #fff; padding: 0.15rem 0;border:1px solid transparent;  }
.bg-b{ background-color: #20a0ff; }
.bg-b:hover{ background-color:#4db3ff ;}
.login-box{margin: auto; display: table;position: relative;width:100%;height: 100%; table-layout: fixed;}
.login-bg{display: table-cell;vertical-align: middle;background-color: #1F5093;background-image: url(../../images/img_bg01.png);background-position:center;background-size:contain;background-repeat: no-repeat;}
.login-bg>form{position: absolute;margin: auto;top: 0;bottom: 0;left: 0;right: 0; border-radius: 3px;
transition-duration: .25s;-webkit-transition-duration: .25s;-moz-transition-duration: .25s;
}
/* form>header{font-size: 0.24rem;padding: 0.2rem 0;border-bottom: 1px solid transparent;border-color:#eff2f6 ;margin-bottom: 0.2rem;} */
form>header>img{width: 60%;margin-left:0.4rem;}
form .form-controll{padding:0 0.2rem;margin-top: 6%;}
form .form-controll>label{height: 0.4rem; width: 15%; display:inline-block; vertical-align: middle; text-align: right; padding-right: 7%;background-position:center;background-size:0.25rem;background-repeat: no-repeat;}
form .form-controll>.letter-space2>em{margin:0 6px;}
form .form-controll>.input-outter{width: 80%; display:inline-block; position: relative; vertical-align: middle; }
form .form-controll>.input-outter>b{ position: absolute;font-size: 0.1rem;color:#ff4949; left: 0.1rem;bottom: -0.16rem;}

form .form-controll.user>label{background-image: url(../../images/user.png);}
form .form-controll.password>label{background-image: url(../../images/password.png);}
form .form-controll.reg>label{background-image: url(../../images/reg.png);}
form .form-controll.reg>div>input{width:64% !important;}
form .form-controll.reg>div>img{width: 0.8rem; position: absolute;right: 0; top:0.06rem;}

@media screen and (min-width: 1401px){
   .login-bg>form{width: 750px;height: 450px;}
    form>.btn{margin-top:0.4rem;}
    .login-box .login-bg div.loginForm{background-image:url(../../images/login_bg.png);}
}

@media screen and (min-width: 1201px) and (max-width: 1400px){
    .login-bg>form{width: 750px;height: 450px;}
    form .btn{margin-top:0.4rem;}
    .login-box .login-bg div.loginForm{background-image:url(../../images/login_bg.png);}
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    form>.btn{margin-top:0.3rem;}
    .login-bg>form{width: 750px;height: 450px;}
    form .form-controll.reg>div>input{width: 60%;}
    .login-box .login-bg div.loginForm{background-image:url(../../images/login_bg.png);}
    
}


@media screen and (max-width: 991px){
    body{background-color:#fff;}
    .login-bg>form{float: none;width: 340px;height: 380px;padding-bottom:0.3rem;}
    .login-box .login-bg div.loginForm{background-color:#fff;border-radius: 10px;box-shadow: 0 0 35px 0 grey;}    
    .login-bg>form header{border:0;margin-top: 20px;}
    form>header>img{width: 100%;margin-left: 0.1rem;}
    .login-bg>form header>img{max-width: 320px;}
    .login-box form div.loginInput{width: 320px;margin-right: 0;margin-top: 0;}
    form .form-controll{margin-top: 0.25rem;padding: 0;}
    form .form-controll>label{width:15%;text-align: left;padding-right:0;}
    form .form-controll>.input-outter{width: 80%;}
    form .form-controll>.input-outter>input{font-size: 0.15rem;line-height: 1.6;}
}

@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 50%,90%  {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  30%, 70%  {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 50%,90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  30%, 70% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake-enter-active{
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*login load*/
.btn.bg-b{position: relative;font-size: 0.12rem;}
.loading-spinner{top: 50%;margin-top: -21px;width: 100%;text-align: center; position: absolute;}
.loading-spinner .circular{animation: loading-rotate 2s linear infinite;width: 42px;height: 42px;}
.loading-spinner .path{animation:loading-dash 1.5s ease-in-out infinite;stroke-dasharray:90,150;stroke-dashoffset:0;
    stroke-width:2;stroke:#fff;stroke-linecap:round}

@-webkit-keyframes loading-rotate{
    to{transform:rotate(1turn)}
}
@keyframes loading-rotate{
    to{transform:rotate(1turn)}
}
@keyframes loading-dash{
    0%{
        stroke-dasharray:1,200;stroke-dashoffset:0
    }
    50%{
        stroke-dasharray:90,150;stroke-dashoffset:-40px
    }
    to{
        stroke-dasharray:90,150;stroke-dashoffset:-120px
    }
}
@-webkit-keyframes loading-dash{
    0%{
        stroke-dasharray:1,200;stroke-dashoffset:0
    }
    50%{
        stroke-dasharray:90,150;stroke-dashoffset:-40px
    }
    to{
        stroke-dasharray:90,150;stroke-dashoffset:-120px
   }
  }