input[type="text"], input[type="tel"], input[type="password"]{ -webkit-appearance: none;-moz-appearance: none;appearance: none;
    background-color: #fff;background-image: none;
    border-radius: 7px;
    border: 1px solid #bfcbd9;color: #1f2d3d;
   font-size: inherit;
   font-family: inherit;
    height: 0.35rem;line-height: 1;
    outline: none;
    padding: 3px 10px;
    width: 100%;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    -moz-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
}
input::-webkit-input-placeholder { color: #97a8be}
input::-moz-placeholder {color: #97a8be}
input:-ms-input-placeholder {color: #97a8be}
input::placeholder {color: #97a8be}
input:hover {border-color: #8391a5}
input:focus {outline: none;border-color: #20a0ff}

.m-input-button{}
.m-input-button>input{letter-spacing: 1px;border-right: none;width: 70%;font-family:fantasy;letter-spacing: 1px; display: inline-block;border-radius: 7px 0 0 7px;vertical-align: top;}
.m-input-button>button{cursor: pointer;transition-duration: .3s;-webkit-transition-duration: .3s;-moz-transition-duration: .3s; appearance:none;-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;-ms-appearance:none;
  background-color: #fff;color: #1f2d3d;width: 30%; height: 35px;border:1px solid transparent;border-color:#bfcbd9;border-radius:0 7px 7px 0;}
  .m-input-button>button:hover, .m-input-button>button:focus{outline: none; border-color:#20a0ff;color: #fff !important;background-color:#20a0ff;}
.m-input-button>input:hover + button{border-color: #8391a5;}
.m-input-button>input:focus + button{border-color:#20a0ff;color:#20a0ff;}

#search, #merchantSearch{padding: 0.15rem;position: relative;width: 100%;height: 100%;}
#search.active{width:100%;height:100%;padding: 0;}

.g-search-menu, .m-search-menu *{width: 100%;height: 100%;}
.g-search-menu{display: table;position: relative;}
.g-search-menu-c{display: table-cell;text-align: center;vertical-align: middle;}

.m-search-menu{display: inline-block;width:1.8rem;height:1.8rem;border-radius: 50%; position: relative;padding:0.1rem}
.m-search-menu *{border-radius: 50%; position: relative;top: 0;left: 0;}
.m-search-menu .slide{background-color:#fff;box-shadow:inset 0 0 10px rgba(0,0,0,0.2);padding: 0.2rem;}
.m-search-menu .slide-c{/*background-color:#3DD79B;*/display: block;line-height: 1.21rem;
background-image:-webkit-linear-gradient(to bottom, #FEFEFE 0, #FCFCFC 20%, #F8F8F8 40%, #F1F1F1 60%, #EAEAEA 80%, #dedede 100%);
background-image:-moz-linear-gradient(to bottom, #FEFEFE 0, #FCFCFC 20%, #F8F8F8 40%, #F1F1F1 60%, #EAEAEA 80%, #dedede 100%);
background-image:linear-gradient(to bottom, #FEFEFE 0, #FCFCFC 20%, #F8F8F8 40%, #F1F1F1 60%, #EAEAEA 80%, #dedede 100%);
background-image:-ms-linear-gradient(to bottom, #FEFEFE 0, #FCFCFC 20%, #F8F8F8 40%, #F1F1F1 60%, #EAEAEA 80%, #dedede 100%);
box-shadow: 0 0 15px rgba(0,0,0,0.4);
/*color:#E1594D;*/font-size: .18rem;font-weight: bold;letter-spacing: 2px;cursor: pointer;
transform: scale(1);-webkit-transform: scale(1);-moz-transform: scale(1);
transition-duration:.2s; transition-duration:.2s; transition-duration:.2s;
}
.m-search-menu .slide-c:active{transform: scale(0.9);-webkit-transform: scale(0.9);-moz-transform: scale(0.9);}
.g-search-menu-c>div:last-child{margin-right: 0;}

/*-------表单-------*/
.g-search-form{border-radius: 4px;margin:auto;}
.g-search-form>.m-tag{margin: 0.1rem 0; position:relative;padding-left: 0.15rem;}
.g-search-form>.m-tag>b{/*background-color: #20a0ff;*/display: inline-block; position: absolute;left: 0;top: 2px;
border-left:10px solid #20a0ff;border-top: 7px solid transparent;border-bottom: 7px solid transparent;}
.g-search-form>.form-c{background-color: #fff;border-radius: 3px;padding:0.1rem;}
.g-search-form>.form-c>.row{width: 49.5%;display: inline-block;}
.g-search-form>.form-c>.row.fullRow{width: 100%;}
.g-search-form>.form-c>.row>.dp{color: #666;}
.g-search-form>.form-c>.f-btn{display: block;width:30%;margin:0.15rem auto;padding: 0.12rem 0}

.g-search-form>.form-c>.row3{width: 32%;display: inline-block;}
.g-search-form>.form-c>.row3>.dp{color: #666;}


.m-col-2{margin:0.1rem 0;}
.m-col-2>.col-l{float: left;min-width:0.7rem;line-height: 0.35rem;text-align: right;}
.m-col-2>.col-r{margin-left:0.7rem;display: block;margin-right: 0.1rem;}
.m-col-2>.col-r>.m-space{padding:0 3px;}
.m-one-font{
  display: inline-block;
  margin-left: 6px;
  margin-right:7px;
}
.m-time-area{ display: inline-block;}
.m-time-area>input{text-align: center;font-size: 14px;width: auto !important;cursor: pointer;}
.m-time-area>input:first-child{
  border-radius:7px 0 0 7px !important;
}
.m-time-area>input:last-child{
  border-radius:0 7px 7px 0 !important;
}
.m-form-radio.col-r{top: -2px;}
.form-c.o-no-bgc{padding: 0 0.1rem;padding-bottom: 1px;}
.form-c.o-no-bgc>.row>.input-box{display: inline-block;width: 70%;}
.form-c.o-no-bgc>.row>.input-box>input{font-family:fantasy;letter-spacing: 1px;border-color:#eee; }
.form-c.o-no-bgc>.row.active input{border-color:#20a0ff;}
.form-c.o-no-bgc>.row.active .text{color:#1f2d3d !important;}
.form-c.o-no-bgc>.row .text{display: inline-block;color: #999;width: 0.7rem;}
.form-c.o-no-bgc>.row>.col-radio .text{width: auto;text-align: left;}

.form-c.o-no-bgc>.row3>.input-box{display: inline-block;width: 70%;}
.form-c.o-no-bgc>.row3>.input-box>input{font-family:fantasy;letter-spacing: 1px;border-color:#eee; }
.form-c.o-no-bgc>.row3.active input{border-color:#20a0ff;}
.form-c.o-no-bgc>.row3.active .text{color:#1f2d3d !important;}
.form-c.o-no-bgc>.row3 .text{display: inline-block;color: #999;width: 0.7rem;}
.form-c.o-no-bgc>.row3>.col-radio .text{width: auto;text-align: left;}

.o-detail-form{}
.o-detail-form>.row{margin:0.1rem 0;}
.o-detail-form>.row>.col-l{width: 0.7rem;text-align: right;}
.o-detail-form>.row>.col-r{margin-left: 0.7rem;}

.o-detail-form>.row3{margin:0.1rem 0;}
.o-detail-form>.row3>.col-l{width: 0.7rem;text-align: right;}
.o-detail-form>.row3>.col-r{margin-left: 0.7rem;}

/*顶部滑块*/
.m-top-shift{
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.m-top-shift>.box, .m-top-shift>.box>.item{
  display: inline-block;
}
.m-top-shift>.box{
  background-color: #fff;
  border-radius: 40px;
  overflow: hidden;
  margin-bottom: 0.2rem;
  box-shadow: 0 1px 7px rgba(0,0,0,0.1);
}
.m-top-shift>.box>.item{
  cursor: pointer;
  position: relative;
}
.m-top-shift>.box>.item>input{
  opacity: 0;
  outline: none;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.m-top-shift>.box>.item>.slider{
  display: inline-block;
  vertical-align: middle;
  padding:0 0.2rem;
  height: 0.35rem;
  line-height: 0.35rem;
  border-radius: 40px;
  overflow: hidden;
}
.m-top-shift>.box>.item>.slider:hover{
  color:#20A0FF;
}
.m-top-shift>.box>.item>input:checked+.slider{
  color: #fff;
  background-image:-webkit-linear-gradient(to right, #40C4FF 0, #3E88FA 100%);
  background-image:-moz-linear-gradient(to right, #40C4FF 0, #3E88FA 100%);
  background-image:linear-gradient(to right, #40C4FF 0, #3E88FA 100%);
  background-image:-ms-linear-gradient(to right, #40C4FF 0, #3E88FA 100%);
}
@media screen and (max-width: 960px){
  .m-top-shift>.box{
    display: flex;
  }
  .m-top-shift>.box>.item{
    flex: 1;
  }
  .m-top-shift>.box>.item>.slider{
    display: block;
    padding: 0;
  }
}
@media screen and (max-width: 540px){
  .m-top-shift>.box>.item>.slider{
    font-size: 0.12rem;
  }
  .m-top-shift>.box{
    margin-top:10px;
  }
}
/*下拉选择*/
.m-dropdown-select{display: inline-block;width: 150px;position: relative;}
.m-dropdown-select>.drop-button{position: relative;font-family:inherit; cursor: pointer;transition-duration: .3s;-webkit-transition-duration: .3s;-moz-transition-duration: .3s; appearance:none;-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;-ms-appearance:none;
  background-color: #fff;width: 100%;padding:0 0.10rem;border-radius: 7px; height: 0.35rem;border:1px solid transparent;border-color:#bfcbd9;outline: none;text-align: left;}
.m-dropdown-select>.drop-button:hover{border-color: #8391a5;}
.m-dropdown-select>.drop-button:focus{border-color:#20a0ff;color:#20a0ff;}
.m-dropdown-select>.drop-button>.text{color: #1f2d3d;font-size: 0.13rem;}
.m-dropdown-select>.drop-button>.caret{
display:inline-block;position: absolute;right: 5px;top:50%;width:0.18rem;height:0.18rem;margin-top: -9px;
  background-image: url(../../images/drop-down.png);background-repeat: no-repeat;background-position: center;background-size:100%; }
.m-dropdown-select ul{position: absolute;width: 100%;z-index: 999; background-color: #fff;border-radius: 2px;border:1px solid #d1dbe5;box-shadow: 0 2px 4px rgba(0,0,0,.12),0 0 6px rgba(0,0,0,.04);margin:5px 0;}
.m-dropdown-select ul>li{}
.m-dropdown-select ul>li>a{display: block;color: #48576a;padding: 8px 10px;line-height: 1.5; height:0.35rem;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;cursor: pointer;}
.m-dropdown-select ul>li>a:hover{background-color: #e4e8f1}
.m-dropdown-select ul>li.selected>a:hover, .m-dropdown-select ul>li.selected>a{color: #fff;background-color: #20a0ff}
.m-dropdown-select>.drop-menu{}
.m-dropdown-select>.drop-menu>.cascarder>a{background-image: url(../../images/drop-left.png);background-repeat: no-repeat;background-position:98% center;background-size:17px; }
.m-dropdown-select>.drop-menu>.cascarder>ul{display: none;height: 100%; top:-1px;box-sizing: content-box;border-radius: 0 2px 2px 0; left: 100%;margin:0;margin-left: 1px; border-left:none;transition-duration:.3s; }
.m-dropdown-select>.drop-menu>.cascarder:hover>ul{display: block;}

.m-col-select_input{}
.m-col-select_input>.m-dropdown-select{width: 20%;}
.m-col-select_input>.m-dropdown-select>button{border-radius: 4px 0 0 4px !important;}
.m-col-select_input>input{border-radius: 0 4px 4px 0;width: 80%;font-family:fantasy;font-size: 0.15rem;letter-spacing: 1px;}
.m-col-select_input>input.active{cursor: pointer;text-align: center;}

/*表格*/
.m-total-table{background-color: #fff;}
.export_excel{width:80px; height:30px;border-radius:7px;border:1px solid forestgreen;background:forestgreen;float:right;
  margin:0 20px 10px 0}
.export_excel:active{box-shadow: 0 0 4px green}
.enable{width:80px; height:30px;border-radius:7px;border:1px solid grey;background:grey;float:right;
  color: white;
  margin:0 20px 10px 0;}
.total-head{  padding: 10px 0px;padding-left: 15px; margin-top: 20px; border:1px solid #dfe6ec;border-bottom: none; font-size: 14px;border-radius: 3px 3px 0 0;}
.total-head span{
  padding-right: 0.3rem;
  display: inline-block;
  vertical-align: middle;
}
.total-head b{background-color:#20a0ff;border-radius:5px;font-weight: normal;color: #fff;margin-left:5px;padding:2px 4px;font-size: 12px;}
.total-head .bg-purple{
  background-color:#4b3887!important;
}
.m-total-table table, .g-base-table{width: 100%;word-break:break-all;word-wrap: break-word;white-space: normal;table-layout:fixed;border-spacing:0px; border-collapse: collapse;  border:1px solid #dfe6ec; background-color: transparent;  text-align: center; }
.m-total-table table thead{  }
.m-total-table table thead th, .g-base-table thead th{ height: 35px; background-color: #eef1f6;font-weight: normal;}
.m-total-table table thead th:first-child, .m-total-table table thead .hasBtn{width: 0.5rem;}
.m-total-table table tbody tr, .g-base-table tbody tr{border-top:1px solid #dfe6ec;color: #4e5e6e;}
.m-total-table table tbody tr>td, .g-base-table tbody tr>td{padding: 10px 0;}
.m-total-table table tbody tr:nth-child(even), .g-base-table tbody tr:nth-child(even){ background: #fafafa; }
.m-total-table table tbody tr:nth-child(odd), .g-base-table tr:nth-child(odd){ background: #fff; }
.details{color: #20a0ff;}
.details:hover{color: #4db3ff}
.agree{background: #13ce66; color: #fff;border-radius: 5px;padding:2px 5px; display: inline-block;}
.agree:hover{background:#42d885;}
.agree.active{cursor: default;}
.agree.active, .agree.active:hover{ color:#666; background:#eee; }
.time_out{display: inline-block;margin-top: 10px;}
.td-col-2>div{float:left;width: 50%;}
.f-m-lighter{font-size: 12px;}



@media screen and (max-width: 420px){
  .g-search-form>.form-c{padding: 0.1rem 0;}
  .m-input-button>input, .form-c.o-no-bgc>.row>.input-box>input{font-family: inherit;}
  .m-space{display: none;}
  
  .form-c.o-no-bgc>.row>.input-box{width: 100%;}
  .form-c.o-no-bgc>.row>.input-box, .m-input-button>input{letter-spacing: 0;}
  .m-time-area>input, .m-input-button>input{font-size: 0.1rem;}
  .m-time-area>input{border-radius: 7px !important;}
  .g-search-menu{padding: 0;}
  #search{padding: 5px}
  .g-search-form>.m-tag{color:#000;font-weight: bold;}
}

@media screen and (max-width: 640px){
  .m-search-menu{width:1.2rem;height:1.2rem;}
  .m-search-menu .slide{padding: 0.1rem;box-shadow:inset 0 0 5px rgba(0,0,0,0.2);}
  .m-search-menu .slide-c{line-height: 0.81rem;font-size: 0.14rem;}
  .g-search-form>.form-c>.f-btn{width: 100%;}
  .m-col-select_input>.m-dropdown-select{width: 40%;}
  .m-col-select_input>input{width: 60%;font-size: 0.12rem;letter-spacing:0;}
}

@media screen and (max-width: 960px){
  .m-col-2>.col-r{margin-right: 0;}
  .g-search-form>.form-c>.row{display: block;width: 100%;}
 /* .m-form-radio>label, .m-form-checkbox>label{margin:3px 0;}*/
  .m-form-radio.col-r{top: 5px;}
}

@media screen and (max-width: 960px){
    .m-col-2>.col-r{margin-right: 0;}
    .g-search-form>.form-c>.row3{display: block;width: 100%;}
   /* .m-form-radio>label, .m-form-checkbox>label{margin:3px 0;}*/
    .m-form-radio.col-r{top: 5px;}
  }

/*导出excel的按钮*/
.btn_export_excel{
  padding:5px;
  color: white;
  background: #13ce66;
  border:1px solid #13ce66;
  border-radius: 4px ;
  float: right;
  margin-right:20px;
  margin-top:-4px;
}
.btn_export_excel:active{
  -webkit-box-shadow: 0 0 5px #29b024;
  -moz-box-shadow: 0 0 5px #29b024;
  box-shadow: 0 0 5px #29b024;
}
/*意见反馈统计数字*/
p.opinionCountP{
  width: 2rem;
  height: .2rem;
  padding-top: .3rem;
  text-align: left;
  margin:0 auto;
  font-size: 18px;
  font-weight: bold;
}