/* 订单查询蓝色三角 */
.u-arrow{
  /* background-color: #20a0ff; */
  display: inline-block;
  position: absolute;
  left: 0;
  top: 2px;
  border-left: 10px solid #20a0ff;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}
/* 功能模块。常用样式 */
.f-border{border: 1px solid #e3e4e6}
.f-padding-left2{padding-left: .2rem;}
.f-margin-top1{margin-top: .1rem;}
.f-bgc-white{background: #fff;}
.f-border-radius4{border-radius: 4px;}
.f-dis-flex{display: flex;}
.f-dis-block{display: block;}
.f-dis-none{display: none;}
.f-dis-inline-block{display: inline-block;}
.f-width100{width: 100%}
.f-width80{width: 80%}
.f-width60{width: 60%}
.f-t-a-c{text-align: center}
.f-t-d-u{text-decoration: underline}
/* 查询模块 */
.m-search-padding{padding: .2rem .1rem}
.m-padding10{padding:5px 10px}

/* 图标 */

/*  */
